<!doctype html>
<title>{% block title %}{% endblock %} - Fastr</title>
<style>
  @font-face
  {
    font-family: 'BibleScriptStd';
    src: url("{{ url_for('static', path='css/Bible_Script_Std_Regular.otf') }}") format("opentype");
  }
  h1, h2, p {
  font-family: 'BibleScriptStd';
}
</style>
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
<nav>
  <h1 style="font-family:BibleScriptStd;">text</h1>


  <h1><a href="{{ url_for('index') }}">Fastr</a></h1>
  <ul>
    {% if request.session.user %}
      <li><span>{{ request.session.user.username }}</span>
      <li><a href="{{ url_for('logout_page') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('register_page') }}">Register</a>
      <li><a href="{{ url_for('login_page') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for _ in range(0, request.session.get("flashes", []) | length) %}
    <div class="flash">{{ request.session["flashes"].pop(0) }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>